* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    overflow: hidden; /* Mencegah scroll */
    overscroll-behavior: none; /* Hilangkan efek bouncing */
}

.letter {
    display: flex;
    width: 954px;
    height: 366.453px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.788);
    transition: transform 0.5s ease-in-out;
}

.flip-book {
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    touch-action: none; /* Nonaktifkan gestur sentuh */
}
  
.letter p {
    width: 400px;
    word-wrap: break-word;
    font-size: 1rem;
}

.letter img {
    border-radius: 50%;
    object-fit: cover;
    width: 370px;
    margin-right: 20px;
}

.letter img,
.letter p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.panah {
    font-size: 2.7rem;
    text-align: center;
    margin-top: 13px;
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
        height: auto;
        overflow: hidden;
    }

    .letter {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .letter img {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .letter p {
        width: 100%;
        font-size: 1rem;
        text-align: justify;
    }

    .flip-book {
        height: auto;
        padding: 10px;
    }

    .panah {
        font-size: 2rem;
        margin-top: 20px;
    }
}
